<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .input {
        padding: 1rem;
      }
    </style>
    <form action="/users/new" method="post">
      <input type="text" name="name" placeholder="Enter Your Name" />
      <input type="text" name="name" placeholder="Enter Your Name" />
      <input type="number" name="age" placeholder="Enter Your Age" />
      <input type="submit" value="Add User" />
    </form>
  </body>
</html>
