<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New User</title>
    <link rel="stylesheet" href="/newUserForm.css" />
  </head>
  <body>
    <header>
      <h1><a href="/users">BACK TO USERS</a></h1>
    </header>
    <form action="/users" method="post">
      <input type="text" name="name" placeholder="Name" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="number" name="age" placeholder="Age" required />
      <button type="submit">Add User</button>
    </form>
  </body>
</html>
