/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

form input:focus {
  border-color: darkmagenta;
  outline: none;
}

form button {
  background-color: darkmagenta;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: black;
}

h1 {
  margin: 2rem;
  font-size: 1rem;
  font-weight: bolder;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: darkmagenta;
  padding: 1rem;
  border-radius: 0 1rem;
}
