<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Added</title>
  </head>
  <body>
    <h1>User Information</h1>
    <p><%= user.name %></p>
    <p><%= user.email %></p>
    <p><%= user.age %></p>
    <a href="/users">Add another user</a>
  </body>
</html>
